@import "./normalize";
@import "./fonts";
@import "./variables";
body{
  font-family: lexend, sans-serif;
  padding: 0 clamp(16px, 5vw, 162px);
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
  font-weight: 400;

}